//! **************************************************************************
// Written by: Map P.20131013 on Wed Aug 22 12:48:04 2018
//! **************************************************************************

SCHEMATIC START;
COMP "SegA" LOCATE = SITE "T17" LEVEL 1;
COMP "SegB" LOCATE = SITE "T18" LEVEL 1;
COMP "SegC" LOCATE = SITE "U17" LEVEL 1;
COMP "SegD" LOCATE = SITE "U18" LEVEL 1;
COMP "SegE" LOCATE = SITE "M14" LEVEL 1;
COMP "SegF" LOCATE = SITE "N14" LEVEL 1;
COMP "SegG" LOCATE = SITE "L14" LEVEL 1;
COMP "SegPunto" LOCATE = SITE "M13" LEVEL 1;
COMP "A" LOCATE = SITE "T10" LEVEL 1;
COMP "B" LOCATE = SITE "T9" LEVEL 1;
COMP "C" LOCATE = SITE "V9" LEVEL 1;
COMP "D" LOCATE = SITE "M8" LEVEL 1;
SCHEMATIC END;

